body {
    height: 100vh;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

div {
    background-color: rgb(21, 84, 219);
    width: 14em;
    height: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.red {
    background-color: red;
    align-self: flex-end;
}