* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    display: flex;
    gap: 10px;
}

div {
    background-color: rgb(21, 84, 219);
    width: 12em;
    height: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
}
